.ssc {
  .letter,
  .word {
    display:inline-block;
    position:relative
  }
  .word {
    white-space: pre;
  }

  &.ssc-timeline,
  .wp-block-cover__inner-container,
  .wp-block-cover__background {
    pointer-events: none;
  }
}
