// Interactive Animated Blocks
// plugin main style
.ssc {
  .letter,
  .word {
    display:inline-block;
    position:relative
  }
  .word {
    white-space: pre;
  }

  &.ssc-video-scroll {
    pointer-events: all;
  }

  &.ssc-video .wp-block-cover__background {
    pointer-events: none;
  }

  // scc-hide - nulled for editors
  &-hide {
    opacity: 0;
  }
}

// Scroll magic helpers
.scrollmagic {
  &-pin-spacer {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
