// Interactive Animated Blocks
// plugin main style
.ssc {
  .letter,
  .word {
    display:inline-block;
    position:relative
  }
  .word {
    white-space: pre;
  }

  &.ssc-video-scroll {
    pointer-events: all;
  }

  &.ssc-video .wp-block-cover__background {
    pointer-events: none;
  }

  // scc-hide - nulled for editors
  &-hide {
    opacity: 0;
  }
}

// Scroll magic helpers
.scrollmagic {
  &-pin-spacer {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.ssc.ssc-navigator #navigator-header {
  position: fixed;
  top: 0;
  z-index: 10;
  background: #ccc;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 80px;
  box-sizing: border-box;

  #navigator-labels{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
