textarea.ssc-codebox {
  width: 100%;
  margin: 0 0 8px;
  font-family: monospace;
}

.block-editor-block-inspector div.row {
  display: flex;
  div.col {
    display: flex;

  }
}

.block-editor-block-inspector div.row .components-base-control {
  margin-bottom: 4px
}
